*{
    line-height: 1.5;
}

img {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    -webkit-user-drag: none;
}

.card {
    text-align: center;
    display:inline-block;
    margin: 2%;
}

.text-justify{
    text-align: justify;
}

.base-color{
    color: #FFC100;
}

a{
    color: #ffc400;
    text-decoration: none;
}

a:hover{
    color:#ffbf00;
    text-decoration: underline;
}

.form-control{
    height: 45px;
    background: #fafafa;
}

.form-control:focus{
    background: #f1f1f1;
}

form button[type="submit"]{
    background: #ffbf00;
}